#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to 'Enter', new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Here goes some text that explains what does the app do an how does it does.
        %p Right now we only have a couple of lines but it usually is far longer than this.
        %p Right now we only have a couple of lines but it usually is far longer than this.
        %p Right now we only have a couple of lines but it usually is far longer than this.
        %p Right now we only have a couple of lines but it usually is far longer than this.
        %p Right now we only have a couple of lines but it usually is far longer than this.
        %p Right now we only have a couple of lines but it usually is far longer than this.
        %p Right now we only have a couple of lines but it usually is far longer than this.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to 'Join now!', new_user_registration_path